<h1>Quarters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% @quarters.each do |quarter| %>
  <tr>
    <td><%= link_to quarter.name, plan_path(:id => quarter.name) %></td>
    <td>
		<% if is_super_admin?(current_user.login) -%>
		<%= link_to "Manage", quarter %>
		<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />

<% if is_super_admin?(current_user.login) -%>
<%= link_to 'New Quarter', new_quarter_path, :class => "button" %>
<% end %>
