<h1>Editing sprint</h1>

<%= render 'form' %>

<%= link_to 'back', quarter_path(@sprint.quarter) %>
<%= link_to 'delete', quarter_sprint_path(@sprint.quarter, @sprint), confirm: 'Are you sure you want to delete this sprint?', method: :delete %>
