defaults: &defaults
    adapter: postgresql
    database: <%= ENV['DB_NAME'] || 'qtrplan' %>
    host: <%= ENV['DB_HOST'] || 'localhost' %>
    username: <%= ENV['DB_USERNAME'] || 'postgres' %>
    password: <%= ENV['DB_PASSWORD'] || 'postgres' %>
    pool: 5
    timeout: 5000

development:
    <<: *defaults

test:
    <<: *defaults

production:
    <<: *defaults
